.navLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  text-wrap: nowrap;

  .navLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    z-index: 1;
  }

  .navLogoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    p {
      font-weight: 600;
      font-size: 18px;
      margin-left: 10px;
      color: var(--main-white);
      z-index: 4;
    }
  }
}
