.footer {
  position: relative;
  width: 100%;
  min-height: 700px;
  background-color: var(--main-green);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: var(--main-white);

  .footerTop {
    width: 100%;
    height: auto;

    h2 {
      font-size: 50px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  .footerBottom {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .bottomContact {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      h3 {
        font-size: 26px;
        font-weight: 500;
        margin: 10px 0px;
      }

      h4 {
        margin: 10px 0px;
      }

      .contactWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;

        .footerIcon {
          margin-right: 10px;
        }
      }
    }

    .bottomInfo {
      flex: 1;
    }
  }
}
